.comprovantes {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(150deg, #494ba7 50%, #25BFB2 50%); 
    color: #fff;
}


