.custom-table {
  width: 100%;
  color: #fff;
  border-collapse: collapse;
}

.table-header {
  padding: 10px;
  text-align: left;
}

.table-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-cell {
  padding: 10px;
}

.pagination {
  position: fixed;
  bottom: 10%;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.pagination-btn {
  background-color: #1d6f62;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pagination-btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
